# rename to env and fill in values
export HUBOT_SLACK_TOKEN='XXXXXXXX'
export HUBOT_CONF_HIDDEN='slack.token,wolfram.appid'
export REDIS_URL='redis://127.0.0.1:6379/labrat'
export HUBOT_WOLFRAM_APPID='XXXXXX-XXXXXXXXXX'
